section {
    padding: 20px;
    margin: 20px;
    background-color: #f7f7f7;
  }
  
  h1, h2 {
    font-weight: bold;
    margin-top: 10px;
  }
  
  
  
  li {
    margin-bottom: 0px;
  }