h1 {
    color: darkcyan;
    font-family: Impact;
}

p {
    font-size: x-large;
}

h2 {
    color: seagreen;
    font-family: Impact;
}

p {
    background-color: bisque;
    
}
h3{
    color: rgb(223, 56, 56);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 li{
    color: red;
    font-size: medium;
 }
